@import "tailwindcss";
@import "tailwindcss";

@theme {
    --font-sora: "Sora", "serif";
  }
  
  body {
    background: #000000;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  ::-webkit-scrollbar {
    display: none;
  }